.menu{background-image:url(../image/1.gif);
		background-position:top;
			background-repeat:no-repeat;
			background-position:left top;
			width:1005px; 
			margin:auto;
			
			}
.menu{
	height:75px;
	text-align:center;
	color:green;
	font-size:14px;
	font-weight:bold;
	}
.menu ul{
	width:1005px;
	margin:auto;
	height:75px;
	line-height:75px;
	vertical-align:middle;	
	}
.menu li{
	float:left;
	padding:0px 15px;
	list-style-type:none;	
	}
.menu a{
	color:white;	
	text-decoration:none;
	}
.menu a:hover{
	color:#b9f605;
	}
.menu .a1 {
	color:#fdb306;
	}