html{color:gray;font-size:12px;font-style:Arial;
	line-height:2em;}
a:link{text-decoration:none;color:#727272;}
a:hover{text-decoration:underline;}
.a1{color:white;}
.a1:hover{text-decoration:none;color:#b9f605;}
#a2{color:#fdb306;}